---

- name: restart hostname
  ansible.builtin.service:
    name: "hostname{{ '.sh' if (ansible_facts.distribution_release == 'wheezy') else '' }}"
    state: restarted
  when:
    - not ansible_facts.service_mgr == 'systemd'

- name: restart systemd-logind
  ansible.builtin.service:
    name: systemd-logind
    state: restarted
  when:
    - ansible_facts.service_mgr == 'systemd'
