#jinja2: trim_blocks: True, lstrip_blocks: True

PIHOLE_INTERFACE={{ pihole_config_setup.interface }}

IPV4_ADDRESS={{ pihole_config_setup.ipv4_address }}
IPV6_ADDRESS={{ pihole_config_setup.ipv6_address }}

QUERY_LOGGING={{ pihole_config_setup.query_logging | lower }}
INSTALL_WEB_SERVER={{ pihole_config_setup.install_web.server | lower }}
INSTALL_WEB_INTERFACE={{ pihole_config_setup.install_web.interface | lower }}

BLOCKING_ENABLED={{ pihole_config_setup.blocking_enabled | lower }}

{% if pihole_config_setup.dns.upstream | default([]) | count > 0 %}
  {% for i in pihole_config_setup.dns.upstream %}
PIHOLE_DNS_{{ loop.index }}={{ i }}
  {% endfor %}
{% endif %}

PIHOLE_DOMAIN={{ pihole_config_setup.domain }}

DNS_FQDN_REQUIRED={{ pihole_config_setup.dns.fqdn_required | lower }}
DNS_BOGUS_PRIV={{ pihole_config_setup.dns.bogus_priv | lower }}
DNSSEC={{ pihole_config_setup.dns.dnssec | lower }}

# HOSTRECORD=

DNSMASQ_LISTENING={{ pihole_config_setup.dnsmasq_listening }}

# REV_SERVER=
# DHCP_ACTIVE=
# DHCP_START=
# DHCP_END=
# DHCP_ROUTER=
# DHCP_LEASETIME=
# DHCP_IPv6=
# DHCP_RAPID_COMMIT=

GRAVITY_TMPDIR={{ pihole_config_setup.gravity_tmpdir }}

TEMPERATURE_UNIT={{ pihole_config_setup.temperature.unit | upper }}
TEMPERATURE_LIMIT={{ pihole_config_setup.temperature.limit }}

WEBUIBOXEDLAYOUT={{ pihole_config_setup.web.ui_boxed_layout }}
WEBTHEME={{ pihole_config_setup.web.theme }}
WEBPASSWORD={{ pihole_config_setup.web.password }}
WEB_PORTS={{ pihole_config_setup.web.ports | join(",") }}

API_EXCLUDE_DOMAINS={{ pihole_config_setup.api.exclude.domains | join(",") }}
API_EXCLUDE_CLIENTS={{ pihole_config_setup.api.exclude.clients | join(",") }}
API_QUERY_LOG_SHOW={{ pihole_config_setup.api.query_log_show | lower }}
API_PRIVACY_MODE={{ pihole_config_setup.api.privacy_mode | lower }}
