#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

launch=

{% for backend in pdns_backends | sort() -%}
launch+={{ backend }}
  {% set backend_string = backend | replace(':', '-') %}
  {% for backend_item, value in pdns_backends[backend].items() | sort() -%}
    {% if value is sameas True %}
{{ backend_string }}-{{ backend_item }}=yes
    {% elif value is sameas False %}
{{ backend_string }}-{{ backend_item }}=no
    {% elif value == None %}
{{ backend_string }}-{{ backend_item }}=
    {% else %}
{{ backend_string }}-{{ backend_item }}={{ value | string }}
    {% endif %}
  {% endfor %}

{% endfor -%}
