#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if pdns_webserver is defined and
      pdns_webserver.enabled is defined and
      pdns_webserver.enabled %}
  {% set _ = pdns_webserver.pop("enabled") %}
  {% if pdns_version.full_version is version_compare('4.8', '<=') %}
    {% set _ = pdns_webserver.pop("connection-timeout") %}
  {% endif %}
  {% if pdns_version.full_version is version_compare('4.6', '<=') %}
    {% set _ = pdns_webserver.pop("hash-plaintext-credentials") %}
  {% endif %}
webserver=yes
  {% for config_item, value in pdns_webserver.items() %}
    {% if config_item not in ["enabled"] %}
      {% if value | bodsch.core.type == "bool" %}
webserver-{{ config_item }}={{ value | bodsch.core.config_bool(true_as='yes', false_as='no')  }}
      {% elif value == None %}
webserver-{{ config_item }}=
      {% elif value is string %}
webserver-{{ config_item }}={{ value | string }}
      {% elif value | bodsch.core.type == "list" %}
webserver-{{ config_item }}={{ value | join(',') }}
      {% else %}
webserver-{{ config_item }}={{ value | string }}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
