---

- name: systemctl daemon-reload
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    force: true
  when:
    - ansible_facts.service_mgr | lower == "systemd"

- name: reload bind
  become: true
  ansible.builtin.service:
    name: "{{ bind_service }}"
    state: reloaded

...
