#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% include('recursor.d/carbon.j2') -%}
{%- include('recursor.d/dnssec.j2') -%}
{%- include('recursor.d/ecs.j2') -%}
{%- include('recursor.d/incoming.j2') -%}
{%- include('recursor.d/logging.j2') -%}
{%- include('recursor.d/nod.j2') -%}
{%- include('recursor.d/outgoing.j2') -%}
{%- include('recursor.d/packetcache.j2') -%}
{%- include('recursor.d/recordcache.j2') -%}
{%- include('recursor.d/recursor.j2') -%}
{%- include('recursor.d/snmp.j2') -%}
{%- include('recursor.d/webservice.j2') -%}
