{% set values = pdns_recursor_carbon | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}
## -- carbon ------------------------------------------------------------------
  {% if pdns_recursor_version.full_version is version_compare('5', '>=') %}
carbon:
  {{ values | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
  {% elif pdns_recursor_version.full_version is version_compare('5', '<') %}
    {% set v = values.get("instance", None) %}
    {% if v and v | string | length > 0 %}
carbon-instance={{ v }}
    {% endif %}
    {% set v = values.get("interval", None) %}
    {% if v and v | string | length > 0 %}
carbon-interval={{ v }}
    {% endif %}
    {% set v = values.get("ns", None) %}
    {% if v and v | string | length > 0 %}
carbon-namespace={{ v }}
    {% endif %}
    {% set v = values.get("ourname", None) %}
    {% if v and v | string | length > 0 %}
carbon-ourname={{ v }}
    {% endif %}
    {% set v = values.get("server", None) %}
    {% if v and v | count > 0 %}
carbon-server={{ v | join(',') }}
    {% endif %}

  {% endif %}
{% endif %}
{#
######### SECTION carbon #########
carbon:
##### If set overwrites the instance name default
#   instance: recursor
##### Number of seconds between carbon (graphite) updates
#   interval: 30
##### If set overwrites the first part of the carbon string
#   ns: pdns
##### If set, overrides our reported hostname for carbon stats
#   ourname: ''
##### If set, send metrics in carbon (graphite) format to this server IP address
#   server: []
#}
