
packetcache:
  {{ pdns_recursor_packetcache | bodsch.core.remove_empty_values | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{#
######### SECTION packetcache #########
packetcache:
##### Disable packetcache
#   disable: false
##### maximum number of entries to keep in the packetcache
#   max_entries: 500000
##### maximum number of seconds to keep a cached NxDomain or NoData entry in packetcache
#   negative_ttl: 60
##### maximum number of seconds to keep a cached servfail entry in packetcache
#   servfail_ttl: 60
##### Number of shards in the packet cache
#   shards: 1024
##### maximum number of seconds to keep a cached entry in packetcache
#   ttl: 86400
#}
