{% set values = pdns_recursor_snmp | bodsch.core.remove_empty_values %}
{% if values | count > 0 %}
## -- snmp --------------------------------------------------------------------
  {% if pdns_recursor_version.full_version is version_compare('5', '>=') %}
snmp:
  {{ values | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
  {% elif pdns_recursor_version.full_version is version_compare('5', '<') %}
snmp-agent={{ values.get("agent") | bodsch.core.config_bool(true_as='yes', false_as='no') }}
snmp-daemon-socket={{ values.get("daemon_socket") }}
snmp-master-socket={{ values.get("master_socket") }}

  {% endif %}
{% endif %}
{#
######### SECTION snmp #########
snmp:
##### If set, register as an SNMP agent
#   agent: false
##### If set and snmp-agent is set, the socket to use to register to the SNMP daemon
#   daemon_socket: ''
#}
