---

- name: ensure that dbus service are running
  ansible.builtin.service:
    name: dbus
    state: started

- name: set hostname with hostname command
  ansible.builtin.hostname:
    name: "{{ fqdn.short_hostname }}"
  when:
    - ansible_facts.service_mgr == 'systemd'
  notify:
    - restart hostname
    - restart systemd-logind

- name: set hostname with conf.d
  ansible.builtin.lineinfile:
    dest: /etc/conf.d/hostname
    line: 'hostname="{{ fqdn.short_hostname }}"'
    regexp: "hostname="
    mode: "0644"
  when:
    - ansible_facts.service_mgr == 'openrc'

- name: update hosts file (backups will be made)
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    regexp: "^{{ fqdn.ip_address }}"
    line: "{{ fqdn.ip_address }} {{ fqdn.hostname }} {{ fqdn.short_hostname }}"
    state: present
    backup: true
    mode: "0644"
  when:
    - fqdn.ip_address is defined
    - not is_docker_guest
  notify:
    - restart hostname
    - restart systemd-logind

- name: set hostname to /etc/hostname
  ansible.builtin.lineinfile:
    path: /etc/hostname
    line: '{{ fqdn.short_hostname }}'
    create: true
    mode: "0644"

- name: re-gather facts
  ansible.builtin.setup:
  when:
    - ansible_facts.hostname != fqdn.hostname

...
