---

- name: set hostname with hostname command
  ansible.builtin.hostname:
    name: "{{ fqdn.short_hostname }}"
  notify:
    - restart hostname
    - restart systemd-logind

- name: Re-gather facts
  ansible.builtin.setup:
  when: ansible_facts.hostname != fqdn.hostname

- name: Build hosts file (backups will be made)
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    regexp: "^{{ fqdn.ip_address }}"
    line: "{{ fqdn.ip_address }} {{ fqdn.hostname }} {{ fqdn.short_hostname }}"
    state: present
    backup: yes
  when:
    - fqdn.ip_address is defined
  notify:
    - restart hostname
    - restart systemd-logind
