{% if bind_acls is defined and
      bind_acls | count > 0 %}

  allow-transfer  {
    {% for acl in bind_acls %}
    "{{ acl.name }}";
    {% endfor %}
  };
{% else %}
  allow-transfer {
    none;
  };
{% endif %}
