#jinja2: trim_blocks: True, lstrip_blocks: True
# Authentication definitions to allow DDNS update
#
# Copyright 2025 Buo-ren Lin <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# {{ ansible_managed }}
{% for mykey in bind_update_keys %}
key {{ mykey.name }} {
  algorithm {{ mykey.algorithm }};
  secret "{{ mykey.secret }}";
};
{% endfor %}
