#jinja2: trim_blocks: True, lstrip_blocks: True
//
// named.conf
//
// {{ ansible_managed }}
{% include('named.conf.d/acl.j2') %}
// -------------------------------------------------------------------
options {
{% include('named.conf.d/listen.j2') %}
  directory          "{{ bind_dir }}";
  dump-file          "{{ bind_dir }}/data/cache_dump.db";
  statistics-file    "{{ bind_dir }}/data/named_stats.txt";
  memstatistics-file "{{ bind_dir }}/data/named_mem_stats.txt";

  /* Path to ISC DLV key */
  bindkeys-file      "{{ bind_bindkeys_file }}";

  managed-keys-directory "{{ bind_dir }}/dynamic";
  pid-file           "{{ bind_pid_file }}";
  session-keyfile    "{{ bind_session_keyfile }}";

  allow-query {
    {{ bind_allow_query | join(';\n') | indent(4) }};
  };
{% include('named.conf.d/allow-transfer.j2') %}
{% include('named.conf.d/check-names.j2') %}
{% include('named.conf.d/recursion.j2') %}
{% include('named.conf.d/forwarders.j2') %}
{% include('named.conf.d/dnssec.j2') %}
{% include('named.conf.d/querylog.j2') %}
{% include('named.conf.d/includes.j2') %}
{% include('named.conf.d/dns64.j2') %}
};
// -------------------------------------------------------------------
{% include('named.conf.d/statistics.j2') %}
{% include('named.conf.d/logging.j2') %}
{% include('named.conf.d/zones.j2') %}
