#jinja2: trim_blocks: True, lstrip_blocks: True
{% set _data = item | bodsch.dns.reverse_zone_data(bind_zone_soa, ansible_hostname) %}
{% set _zone_data = _data.get("reverse_zone_data", None) %}
{% set _zone_hash = _data.get("zone_hash", None) %}
{% set _zone = _zone_data['domain'] | bodsch.dns.zone_serial(_zone_hash, bind_zone_data, network=item.1) %}
; {{ ansible_managed }}
;
; Reverse zone file for {{ _zone_data['domain'] }}
; Hash: {{ _zone['hash'] }} {{ _zone['serial'] }}
;
; {{ _zone_data }}

$TTL {{ _zone_data['ttl'] }}
$ORIGIN {{ _zone_data['revip'] }}

; soa
@ IN SOA {{ _zone_data['soa_name_server'] | first }} {{ _zone_data['hostmaster_email'] }} (
                               {{ (_zone['serial'] | string).ljust(20) }} ; serial
                               {{ (_zone_data['refresh'] | string).ljust(20) }} ; refresh (1 week)
                               {{ (_zone_data['retry'] | string).ljust(20) }} ; retry (1 day)
                               {{ (_zone_data['expire'] | string).ljust(20) }} ; expire (4 weeks)
                               {{ (_zone_data['minimum'] | string).ljust(20) }} ; minimum (1 day)
                               )
; --------------------------------------------------------------------------------------
; dns
{% if _zone_data['soa_name_server'] | length > 0 %}
  {% for ns in _zone_data['soa_name_server'] %}
                           IN  NS     {{ ns }}
  {% endfor %}
{% endif %}
{% if _zone_data.other_name_servers is defined and
      _zone_data.other_name_servers | bodsch.core.type == "list" %}
  {% for ns in _zone_data.other_name_servers %}
                           IN  NS     {{ ns }}
  {% endfor %}
{% endif %}

; --------------------------------------------------------------------------------------
; hosts
{% if _zone_data['hosts'] | length > 0 %}
  {% for host in _zone_data['hosts'] %}
    {% set ttl = '' %}
    {% if host.ttl is defined and host.ttl | string | length > 0 %}
      {% set ttl = host.ttl %}
    {% endif %}
    {% if host.ipv6 is defined %}
      {% if host.ipv6 == item.1 %}
@                      IN  PTR    {{ host.name }}.{{ _zone_data['domain'] }}.
      {% else %}
{#
    ; name         {{ host.name }}
    ; ip           {{ host.ipv6 }}
    ; .1           {{ item.1 }}
    ; {{ host.ipv6.startswith(item.1) }}
#}
        {% if host.ipv6 is string and host.ipv6.startswith(item.1 | regex_replace(':\/.*$','')) %}
          {% if host.name == '@' %}
{{ host.ipv6 | ansible.utils.ipaddr('revdns') }}{{ (ttl | string).ljust(6) }} IN  PTR  {{ _zone_data['domain'] }}.
          {% else %}
{{ host.ipv6 | ansible.utils.ipaddr('revdns') }}{{ (ttl | string).ljust(6) }} IN  PTR  {{ host.name }}.{{ _zone_data['domain'] }}.
          {% endif %}
        {% else %}
          {% for ip in host.ipv6 %}
            {% if ip.startswith(item.1 | regex_replace(':\/.*$','')) %}
{{ ip | ansible.utils.ipaddr('revdns') }}{{ (ttl | string).ljust(6) }} IN  PTR  {{ _zone_data['domain'] }}.
              {% if host.name == '@' %}
              {% else %}
{{ ip | ansible.utils.ipaddr('revdns') }}{{ (ttl | string).ljust(6) }} IN  PTR  {{ host.name }}.{{ _zone_data['domain'] }}.
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
