
- name: prepare container
  hosts: all
  gather_facts: true

  pre_tasks:
    - name: update package cache
      apt:
        update_cache: true
      when:
        - ansible_facts.os_family | lower == 'debian'

    - name: install netstat
      package:
        name: [ net-tools, iproute2 ]
        state: present
      when:
        - ansible_facts.os_family | lower in [ 'archlinux', 'debian' ]

    - debug:
        msg:
          - "os family            : {{ ansible_facts.os_family }}"
          - "distribution         : {{ ansible_facts.distribution }}"
          - "distribution version : {{ ansible_facts.distribution_major_version }}"
          - "ansible version      : {{ ansible_version.full }}"
          - "python version       : {{ ansible_facts.python.version.major }}"

  roles:
    - role: redis
