---

- name: include OS specific configuration
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      paths:
        - "vars"
      files:
        # eg. debian-10 / ubuntu-20 / centos-8 / oraclelinux-8
        - "{{ ansible_facts.distribution | lower }}-{{ ansible_facts.distribution_major_version }}.yml"
        # eg. archlinux-systemd / archlinux-openrc
        - "{{ ansible_facts.distribution | lower }}-{{ ansible_facts.service_mgr | lower }}.yml"
        # eg. debian / ubuntu / centos / oraclelinux
        - "{{ ansible_facts.distribution | lower }}.yml"
        # eg. redhat / debian
        - "{{ ansible_facts.os_family | lower }}.yml"
        - main.yml
      skip: true

- name: detect ansible check_mode
  bodsch.core.check_mode:
  register: _check_mode

- name: define running_in_check_mode
  ansible.builtin.set_fact:
    running_in_check_mode: '{{ _check_mode.check_mode }}'

- name: install dependencies
  ansible.builtin.package:
    name: "{{ pihole_dependencies }}"
    state: present
  when:
    - pihole_dependencies | default([]) | count > 0

- name: merge pihole configuration between defaults and custom
  ansible.builtin.set_fact:
    pihole_config: "{{ pihole_defaults_config | combine(pihole_config, recursive=True) }}"

...
