# {{ ansible_managed }}

deb http://download.opensuse.org/repositories/home:/CZ-NIC:/knot-resolver-latest/{{ ansible_facts.os_family }}_{{ ansible_facts.distribution_major_version }} /
# deb https://deb.knot-dns.cz/knot-latest/ {{ ansible_facts.distribution_release | lower }} main
